Package: com.ygxmm.dydebugkit
Name: DYDebugKit
Version: 1.0.0
Architecture: iphoneos-arm
Description: An iOS debug collection tweak.
Maintainer: ygxmm
Author: ygxmm
Section: Tweaks
Depends: mobilesubstrate, preferenceloader, com.opa334.altlist
